body {
  font-family: Arial, sans-serif;
  background-color: #f5f7f9;
  margin: 0;
  padding: 0;
}

.header {
  padding: 20px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.content-wrapper {
  width: 80%;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.suggestion-cards {
  order: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
}

.suggestion-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.features {
  width: 40%;
  text-align: left;
}

.features h1 {
  margin-bottom: 20px;
  font-size: 2.5em;
}

.features p {
  margin-bottom: 20px;
}

.features button {
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.how-it-works, .why-featureyard, .not-convinced {
  background-color: #333;
  color: #fff;
  padding: 40px;
  width: 100%;
  text-align: center;
}

.steps, .benefits {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.step, .benefit {
  width: 30%;
}

.step h3, .benefit h3 {
  margin-top: 10px;
}

.step p, .benefit p {
  margin-top: 5px;
}

.not-convinced {
  background-color: #f5f7f9;
  color: #333;
  padding: 40px;
  width: 100%;
  text-align: center;
}

.not-convinced button {
  margin-top: 20px;
  padding: 16px 20px;
  font-size:meidum;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.emoji {
  font-size: 2.5em; /* 원하는 크기로 설정 */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .content-wrapper {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .features {
    order: 1;
    width: 100%;

  }

  .steps, .benefits {
    flex-direction: column;
    align-items: center;
  }

  .step, .benefit {
    width: 80%;
    margin-bottom: 20px;
  }
  .features-title {
    font-size: 4em;
    font-weight: bold;
  }
}

